__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.log
.ipynb_checkpoints/
.venv/
env/
venv/
.vscode/
.idea/
.DS_Store
Thumbs.db
data/raw/
!outputs/
outputs/*
!outputs/predictions/
!outputs/predictions/*.csv
.cache.*
